<!DOCTYPE html>
<html lang="en">
<head>
<title>Eperience</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="vCard template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../static/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css">
<link rel="stylesheet" type="text/css" href="../static/styles/experience.css">
<link rel="stylesheet" type="text/css" href="../static/styles/experience_responsive.css">
<link rel="stylesheet" type="text/css" href="../static/styles/global.css">
<link rel="icon" href="../static/images/favicon.png">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_content d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><img src="../static/images/logo_transparent12.png" style="width: 85px; height: 65px"></div>
			<div class="nav">
				<div class="main_nav d-flex flex-row align-items-end justify-content-start" >
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="../about.html">About</a></li>
						<li class="active"><a href="experience.html">Experience</a></li>
						<li><a href="education.html">Education</a></li>
						<li><a href="skills.html">Skills</a></li>
					</ul>
				</div>
			</div>
			<!-- Menu -->
	<div class="menu">
		<div class="menu_content d-flex flex-row align-items-start justify-content-end">
			<div class="hamburger ml-auto">menu</div>
			<div class="menu_nav text-right">
				<ul>
					<li><a href="../about.html">About</a></li>
					<li><a href="experience.html">Experience</a></li>
					<li><a href="education.html">Education</a></li>
					<li><a href="skills.html">Skills</a></li>
				</ul>
			</div>
		</div>
	</div>
		</div>
	</header>

	<div class="content_container">
		<div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">

			<!-- General Information -->
			<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
				<div>
					<div class="general_info_image">
						<div class="background_image" style="background-image:url(../static/images/smith.jpg)"></div>
					</div>
				</div>
				<div class="general_info_content">
					<div class="general_info_content_inner mCustomScrollbar" data-mcs-theme="minimal-dark">
						<div class="general_info_title">General Information</div>
						<ul class="general_info_list">
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_1.png" alt=""></div>
								<div class="general_info_text">Name: <span>Daniel Yordanov</span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_5.png"></div>
								<div class="general_info_text">Location: <span>Harmanli, Bulgaria </span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_2.png" alt=""></div>
								<div class="general_info_text">Date of Birth: <span>February 01, 2001</span></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_3.png" alt=""></div>
								<div class="general_info_text">Email: <a href="mailto:contact@linque.com?subject=Job_Inquiry"><span>dv.yordanov01&commat;gmail&period;com</span></a></div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="../static/images/icon_4.png" alt=""></div>
								<div class="general_info_text">Phone: <span>+359 88 625 1899</span></div>
							</li>
							
						</ul>

						<!-- Social -->
						<!--
						<div class="social_container">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					-->
					</div>
				</div>
			</div>

			<!-- Main Content -->

			<div class="main_content">
				<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
					<div class="main_title">My Experience</div>
				</div>
				<div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
					
					<!-- Experience -->

					<div class="experience">
						
						<!-- Experience Item -->
						<div class="exp_item d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div><div class="exp_time">Java</div></div>
							<div class="exp_content">
								<div class="exp_title_container">
									<div class="exp_title">Sorting Algorithms Run Time</div>
									<div class="exp_subtitle"><a href="https://github.com/DanielJordanov01/Sorting-Algorithms-Run-Time">https://github.com/DanielJordanov01/Sorting-Algorithms-Run-Time</a></div>
								</div>
								<div class="exp_text">
									<p>Project written in Java which performs various sorting algorithms on an array and compares the needed time for each algorithm to execute.</p>
								</div>
							</div>
						</div>

						<!-- Experience Item -->
						<div class="exp_item d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div><div class="exp_time">React.js</div></div>
							<div class="exp_content">
								<div class="exp_title_container">
									<div class="exp_title">Face Recognition Brain</div>
									<div class="exp_subtitle"><a href="https://github.com/DanielJordanov01/face-recognition-brain">https://github.com/DanielJordanov01/face-recognition-brain</a></div>
								</div>
								<div class="exp_text">
									<p>Project which was created while learning React. The application detects faces in provided picture.</p>
								</div>
							</div>
						</div>

						<!-- Experience Item -->
						<div class="exp_item d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div><div class="exp_time">React.js</div></div>
							<div class="exp_content">
								<div class="exp_title_container">
									<div class="exp_title">Feed The Donut Monster</div>
									<div class="exp_subtitle"><a href="https://github.com/DanielJordanov01/feed_the_donut_monster">https://github.com/DanielJordanov01/feed_the_donut_monster</a></div>
								</div>
								<div class="exp_text">
									<p>An interactive app created with React.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>

<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../static/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="../static/js/experience.js"></script>
</body>
</html>